/* App.css */
.app-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .app-title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  
  .form-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;
  }
  
  .form-label {
    flex: 1;
  }
  
  .form-input {
    flex: 3;
    padding: 0.5rem;
    /* border: none; */
    border-radius: 4px;
  }
  
  .form-select {
    flex: 2;
    padding: 0.5rem;
    /* border: none; */
    border-radius: 4px;
  }
  
  .form-button {
    flex: 1;
    padding: 0.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .results-title {
    margin-top: 4rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .results-list {
    list-style-type: none;
    padding: 0;
  }
  
  .result-item {
    margin-bottom: 1rem;
  }
  
  .result-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .result-summary {
    margin-bottom: 0.5rem;
  }
  
  .result-button {
    padding: 0.3rem 0.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  